<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--开启注解扫描 ,只扫描service和dao的-->
    <context:component-scan base-package="store.longyan">
        <!--配置不扫描的注解-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <!--配置需要扫描注解
                <context:include-filter type="" expression=""/>
        -->
    </context:component-scan>

    <!--spring整合mybatis框架-->
    <!-- 加载资源文件 -->
    <context:property-placeholder location="classpath:jdbcConfig.properties" />
    <!--配置连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--配置SqlSessionFactory工厂-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 加载 MyBatis 核心配置文件 -->
        <!--<property name="configLocation" value="classpath:" />-->
        <!-- 为实体类创建别名 -->
        <property name="typeAliasesPackage" value="store.longyan.domain" />
    </bean>

    <!--配置接口所在包-->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="store.longyan.dao"/>
    </bean>


</beans>